<!DOCTYPE html>
<html>
<head>
    <title>GST</title>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/material-kit.css" rel="stylesheet"/>
    <link href="/stylesheets/owl.carousel.min.css" rel="stylesheet"/>
    <link href="/stylesheets/owl.theme.default.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body >
<!--Header-->
<div class = "main-header">
    <div class="container">
        <div class="col-lg-2" align="center"><img src="/images/logo.jpg" class="img-responsive"></div>
        <div class="col-lg-8" align="center">
            <p style="font-size:18px; padding-top:5px;">Government of India, Ministry of Finance <br>Department of Revenue <br>
                <span style="color:#ba003c; font-size:25px; font-weight:bold;">GST &amp; Central Excise Mumbai Central Commissionerate </span></p>
        </div>
        <div class="col-lg-2" align="center"><img src="/images/logo-3.jpg" class="img-responsive"></div>

    </div>
</div>
<!-- Navbar -->
<nav class="navbar navbar-info no-margin affix-top" role="navigation" data-spy="affix" data-offset-top="197">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/" ><i class="fa fa-home" style="font-size: 26px;  "></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/aboutus/CitizenCharter">Citizen Charter</a>
                        </li>
                        <li>
                            <a href="/aboutus/OrganizationalStructure">Organizational Structure</a>
                        </li>
                        <li>
                            <a href="/aboutus/LocateOffices">Locate Offices</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jurisdiction<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/jurisdiction/jurisdictionMap">Jurisdiction Map</a>
                        </li>
                        <li>
                            <a href="/jurisdiction/DivisionsRanges">Division &amp; Ranges</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">GST<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://cbec.gov.in/htdocs-cbec/gst/index">Acts</a>
                        </li>
                        <li>
                            <a href="http://cbec.gov.in/htdocs-cbec/gst/index">Notifications & Circular</a>
                        </li>
                        <li>
                            <a href="/gst/helpDesk">GST Help Desk</a>
                        </li>
                        <li>
                            <a href="/gst/sevaKendra">GST Seva Kendra</a>
                        </li>
                        <li>
                            <a href="/GST/faqs">GST FAQs</a>
                        </li>
                        <li>
                            <a href="https://cbec-gst.gov.in/gst-goods-services-rates.html">GST Rates finder</a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Central Excise & Service Tax<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Central Excise</a>
                            <ul class="dropdown-menu">
                                <li><a href="http://cbec.gov.in/htdocs-cbec/excise/cx-act/cx-act-idx">Acts</a></li>
                                <li><a href="/centralExcise/rules">Rules</a></li>
                                <li><a href="/files/cbec-manual.pdf">CBEC Manual</a></li>
                                <li><a href="/centralExcise/forms">Forms</a></li>
                                <li><a href="http://cbec.gov.in/Excise-Notifications">Notification</a></li>
                                <li><a href="/centralExcise/circularsNotifications">Circulars/Notifications</a></li>
                                <li><a href="http://cbec.gov.in/htdocs-cbec/easiest-idx">E-Payment</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Service Tax</a>
                            <ul class="dropdown-menu">
                                <li><a href="/files/st-act-ason-01apr2017.pdf">Acts</a></li>
                                <li><a href="/serviceTax/rules">Rules</a></li>
                                <li><a href="/serviceTax/forms">Forms</a></li>
                                <li><a href="http://cbec.gov.in/ServiceTax-Notifications">Notification</a></li>
                                <li><a href="/serviceTax/circularsNotifications">Circulars/Notifications</a></li>
                                <li><a href="http://cbec.gov.in/htdocs-cbec/easiest-idx">E-Payment</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trade Notice<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/tradeNotices/tradeNotices">Trade Notices</a>
                        </li>
                        <li>
                            <a href="/tradeNotices/tenders">Tenders</a>
                        </li>
                        <li>
                            <a href="#">Misc</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">R.T.I. <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/files/RTI - Statutory infomartion.pdf" target="_blank">Statutory information</a>
                        </li>
                        <li>
                            <a href="/files/RTI -  INFORMATION officers.pdf" target="_blank">Information Officer</a>
                        </li>
                        <li>
                            <a href="#">Online RTI</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://www.cbec.gov.in/htdocs-cbec/sevottam/sevottam-idx">Sevottam</a>
                        </li>
                        <li>
                            <a href="https://pgportal.gov.in/">CPGRAM</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #E4F579">Contact Us<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/contactus/Headquarters">Headquarters</a>
                        </li>
                        <li>
                            <a href="/contactus/division">Division & Ranges</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
    <span class="nav-bg"></span></nav>



