<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">MISC</h2>
            <div class="col-md-offset-3 col-md-6">
                <table align="center" class="table table-bordered table-responsive table-striped">
                    <tbody>
                    <tr>
                        <th width="136" scope="col" style=" text-align: center;">Trade Notice No</th>
                        <th width="903" scope="col" style="width: 183px; height: 24px; text-align: center;">Subject </th>
                        <td style="width: 183px; height: 24px; text-align: center;"><strong>Download</strong></td>
                    </tr>
                    <tr>
                        <td scope="row"><a href="pdf/trade-notice-no-1.pdf" target="_blank" style="color:#000">01/2017</a></td>
                        <td>Taxpayer Service Centre –reg.</td>
                        <td style="width: 183px; height: 32px; text-align: center;"><a href="http://mgst.profecialinks.com/wp-content/uploads/2018/01/Tender1.pdf" target="_blank" > <button class="btn btn-info">View<div class="ripple-container"></div></button> </a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a href="pdf/trade-notice-no-2.pdf" target="_blank" style="color:#000">02/2017</a></td>
                        <td>Proper officer for provisions relating to Registration and Composition levy under the Central Goods and Service Tax Act, 2017 or the rules made thereunder –Reg.</td>
                        <td style="width: 183px; height: 32px; text-align: center;"><a href="http://mgst.profecialinks.com/wp-content/uploads/2018/01/Tender1.pdf" target="_blank" > <button class="btn btn-info">View<div class="ripple-container"></div></button> </a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a href="pdf/trade-notice-no-3.pdf" target="_blank" style="color:#000">03/2017</a></td>
                        <td>Issues related to furnishing of Bond/Letter of Undertaking for exports –Reg.</td>
                        <td style="width: 183px; height: 32px; text-align: center;"><a href="http://mgst.profecialinks.com/wp-content/uploads/2018/01/Tender1.pdf" target="_blank" > <button class="btn btn-info">View<div class="ripple-container"></div></button> </a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a href="pdf/trade-notice-no-4.pdf" target="_blank" style="color:#000"> 04/2017</a></td>
                        <td> Proper officer relating to provisions other than Registration and Composition under Central Goods and Services Tax Act, 2017– Reg.</td>
                        <td style="width: 183px; height: 32px; text-align: center;"><a href="http://mgst.profecialinks.com/wp-content/uploads/2018/01/Tender1.pdf" target="_blank" > <button class="btn btn-info">View<div class="ripple-container"></div></button> </a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a href="pdf/trade-notice-no-5.pdf" target="_blank" style="color:#000">05/2017 </a></td>
                        <td>Issues related to Bond/Letter of Undertaking for exports without payment of integrated tax–Reg.</td>
                        <td style="width: 183px; height: 32px; text-align: center;"><a href="http://mgst.profecialinks.com/wp-content/uploads/2018/01/Tender1.pdf" target="_blank" > <button class="btn btn-info">View<div class="ripple-container"></div></button> </a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a href="pdf/trade-notice-no-6.pdf" target="_blank" style="color:#000">06/2017</a><a href="TradeNotice2015/Tn4of2015.pdf"></a></td>
                        <td> Clarification regarding applicability of Section 16 of the IGST Act, 2017, relating to zero rated supply for the purpose of Compensation Cess on exports – Reg.</td>
                        <td style="width: 183px; height: 32px; text-align: center;"><a href="http://mgst.profecialinks.com/wp-content/uploads/2018/01/Tender1.pdf" target="_blank" rel="noopener"> <button class="btn btn-info">View<div class="ripple-container"></div></button> </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs %>