/*ul{*/
    /*list-style-type: none;*/
/*}*/

/*.tim-row{*/
    /*margin-bottom: 20px;*/
/*}*/

/*.tim-white-buttons {*/
    /*background-color: #777777;*/
/*}*/
/*.title{*/
    /*margin-top: 30px;*/
    /*margin-bottom: 25px;*/
    /*min-height: 32px;*/
/*}*/
/*.title.text-center{*/
    /*margin-bottom: 50px;*/
/*}*/
/*.tim-typo{*/
    /*padding-left: 25%;*/
    /*margin-bottom: 40px;*/
    /*position: relative;*/
/*}*/
/*.tim-typo .tim-note{*/
    /*bottom: 10px;*/
    /*color: #c0c1c2;*/
    /*display: block;*/
    /*font-weight: 400;*/
    /*font-size: 13px;*/
    /*line-height: 13px;*/
    /*left: 0;*/
    /*margin-left: 20px;*/
    /*position: absolute;*/
    /*width: 260px;*/
/*}*/
/*.tim-row{*/
    /*padding-top: 50px;*/
/*}*/
/*.tim-row h3{*/
    /*margin-top: 0;*/
/*}*/
/*.switch{*/
    /*margin-right: 20px;*/
/*}*/
/*#navbar-full .navbar{*/
    /*border-radius: 0 !important;*/
    /*margin-bottom: 15px;*/
    /*z-index: 2;*/
/*}*/
/*.space{*/
    /*height: 130px;*/
    /*display: block;*/
/*}*/
/*.space-110{*/
    /*height: 110px;*/
    /*display: block;*/
/*}*/

/*.space-70{*/
    /*height: 70px;*/
    /*display: block;*/
/*}*/
/*.navigation-example .img-src{*/
    /*background-attachment: scroll;*/
/*}*/

/*.navigation-example{*/
    /*background-image: url('../img/bg.jpg');*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*margin-top:0;*/
    /*min-height: 740px;*/
/*}*/
/*#notifications{*/
    /*background-color: #FFFFFF;*/
    /*display: block;*/
    /*width: 100%;*/
    /*position: relative;*/
/*}*/
/*.tim-note{*/
    /*text-transform: capitalize;*/
/*}*/

/*#buttons .btn{*/
    /*margin: 0 0px 15px;*/
/*}*/
/*.space-100{*/
    /*height: 100px;*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

/*.be-social{*/
    /*padding-bottom: 20px;*/
    /*!*     border-bottom: 1px solid #aaa; *!*/
    /*margin: 0 auto 40px;*/
/*}*/
/*.txt-white{*/
    /*color: #FFFFFF;*/
/*}*/
/*.txt-gray{*/
    /*color: #ddd !important;*/
/*}*/


/*.parallax{*/
    /*width:100%;*/
    /*height:570px;*/

    /*display: block;*/
    /*background-attachment: fixed;*/
    /*background-repeat:no-repeat;*/
    /*background-size:cover;*/
    /*background-position: center center;*/

/*}*/

/*.logo-container .logo{*/
    /*overflow: hidden;*/
    /*border-radius: 50%;*/
    /*border: 1px solid #333333;*/
    /*width: 50px;*/
    /*float: left;*/
/*}*/

/*.logo-container .brand{*/
    /*font-size: 16px;*/
    /*color: #FFFFFF;*/
    /*line-height: 18px;*/
    /*float: left;*/
    /*margin-left: 10px;*/
    /*margin-top: 7px;*/
    /*width: 70px;*/
    /*height: 40px;*/
    /*text-align: left;*/
/*}*/
/*.logo-container .brand-material{*/
    /*font-size: 18px;*/
    /*margin-top: 15px;*/
    /*height: 25px;*/
    /*width: auto;*/
/*}*/
/*.logo-container .logo img{*/
    /*width: 100%;*/
/*}*/
/*.navbar-small .logo-container .brand{*/
    /*color: #333333;*/
/*}*/

/*.fixed-section{*/
    /*top: 90px;*/
    /*max-height: 80vh;*/
    /*overflow: scroll;*/
/*}*/
/*.fixed-section ul li{*/
    /*list-style: none;*/
/*}*/
/*.fixed-section li a{*/
    /*font-size: 14px;*/
    /*padding: 2px;*/
    /*display: block;*/
    /*color: #666666;*/
/*}*/
/*.fixed-section li a.active{*/
    /*color: #00bbff;*/
/*}*/
/*.fixed-section.float{*/
    /*position: fixed;*/
    /*top: 100px;*/
    /*width: 200px;*/
    /*margin-top: 0;*/
/*}*/


/*.parallax .parallax-image{*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
/*}*/
/*.parallax .parallax-image img{*/
    /*width: 100%;*/
/*}*/

/*@media (max-width: 768px){*/
    /*.parallax .parallax-image{*/
        /*width: 100%;*/
        /*height: 640px;*/
        /*overflow: hidden;*/
    /*}*/
    /*.parallax .parallax-image img{*/
        /*height: 100%;*/
        /*width: auto;*/
    /*}*/
/*}*/

/*.separator{*/
    /*content: "Separator";*/
    /*color: #FFFFFF;*/
    /*display: block;*/
    /*width: 100%;*/
    /*padding: 20px;*/
/*}*/
/*.separator-line{*/
    /*background-color: #EEE;*/
    /*height: 1px;*/
    /*width: 100%;*/
    /*display: block;*/
/*}*/
/*.separator.separator-gray{*/
    /*background-color: #EEEEEE;*/
/*}*/
/*.social-buttons-demo .btn{*/
    /*margin-right: 5px;*/
    /*margin-bottom: 7px;*/
/*}*/

/*.img-container{*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/
/*.img-container img{*/
    /*width: 100%;*/
/*}*/

/*.lightbox img{*/
    /*width: 100%;*/
/*}*/
/*.lightbox .modal-content{*/
    /*overflow: hidden;*/
/*}*/
/*.lightbox .modal-body{*/
    /*padding: 0;*/
/*}*/
/*@media screen and (min-width: 991px){*/
    /*.lightbox .modal-dialog{*/
        /*width: 960px;*/
    /*}*/
/*}*/
/*@media (max-width: 991px){*/
    /*.fixed-section.affix{*/
        /*position: relative;*/
        /*margin-bottom: 100px;*/
    /*}*/
/*}*/
/*@media (max-width: 768px){*/
    /*.btn, .btn-morphing{*/
        /*margin-bottom: 10px;*/
    /*}*/
    /*.parallax .motto{*/
        /*top: 170px;*/
        /*margin-top: 0;*/
        /*font-size: 60px;*/
        /*width: 270px;*/
    /*}*/
/*}*/

/*!*       Loading dots  *!*/

/*!*      transitions *!*/
/*.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{*/
    /*-webkit-transition: all .2s;*/
    /*-moz-transition: all .2s;*/
    /*-o-transition: all .2s;*/
    /*transition: all .2s;*/
/*}*/


/*#images h4{*/
    /*margin-bottom: 30px;*/
/*}*/
/*#javascriptComponents{*/
    /*padding-bottom: 0;*/
/*}*/
/*#javascriptComponents .btn-raised{*/
    /*margin: 10px 5px;*/
/*}*/


/*!*      layer animation          *!*/

/*.layers-container{*/
    /*display: block;*/
    /*margin-top: 50px;*/
    /*position: relative;*/
/*}*/
/*.layers-container img {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*top: 0;*/
    /*left: 0;*/
    /*text-align: center;*/
/*}*/

/*.section-black {*/
    /*background-color: #333;*/
/*}*/

/*.animate {*/
    /*transition: 1.5s ease-in-out;*/
    /*-moz-transition: 1.5s ease-in-out;*/
    /*-webkit-transition: 1.5s ease-in-out;*/
/*}*/

/*.navbar-default.navbar-small .logo-container .brand{*/
    /*color: #333333;*/
/*}*/
/*.navbar-transparent.navbar-small .logo-container .brand{*/
    /*color: #FFFFFF;*/
/*}*/
/*.navbar-default.navbar-small .logo-container .brand{*/
    /*color: #333333;*/
/*}*/

.sharing-area{
    margin-top: 10px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}
.sharing-area .btn-twitter:hover{
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.sharing-area .btn-facebook{
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}
.sharing-area .btn-facebook:hover{
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.sharing-area .btn-google-plus{
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}
.sharing-area .btn-google-plus:hover{
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.sharing-area .btn-github{
    background-color: #333333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}
.sharing-area .btn-github:hover{
    background-color: #333333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}

/*.section-thin,*/
/*.section-notifications{*/
    /*padding: 0;*/
/*}*/
/*.section-navbars{*/
    /*padding-top: 0;*/
/*}*/
/*#navbar .navbar{*/
    /*border-radius: 0;*/
/*}*/
/*.section-tabs{*/
    /*background: #EEEEEE;*/
/*}*/
/*.section-pagination{*/
    /*padding-bottom: 0;*/
/*}*/
/*.section-download h4{*/
    /*margin-bottom: 25px;*/
/*}*/
/*.section-examples a{*/
    /*text-decoration: none;*/
/*}*/
/*.section-examples h5{*/
    /*margin-top: 30px;*/
/*}*/
/*.components-page .wrapper > .header,*/
/*.tutorial-page .wrapper > .header{*/
    /*height: 400px;*/
    /*padding-top: 100px;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
/*}*/
/*.components-page .title,*/
/*.tutorial-page .title{*/
    /*color: #FFFFFF;*/
/*}*/

/*h3 {*/
    /*display: inline-block;*/
    /*padding: 10px;*/
    /*background: #B9121B;*/
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
/*}*/

.space-50{
    height: 50px;
    display: block;
}
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#sliderHeight {
    max-height: 800px !important;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.main-header{
    background-color: #fff;
    padding: 20px;
}
.no-margin{
    margin: 0px;
}
.navbar .navbar-nav .active {
    background-color: orange;
    border-radius: 5px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*icon Menu*/
.custom-icon {
    background: #666;
    background: rgba(0, 136, 204, 0.7);
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    color: #fff;
    display: table-cell;
    font-size: 70px;
    height: 100px;
    padding: 30px;
    text-align: center;
    transition: .5s;
    vertical-align: middle;
    width: 100px;
}
.custom-icon:hover {
    background: rgba(255, 255, 255, 0.6);
    color:rgba(0, 136, 204, 0.7);
    border: 6px solid;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.fix-editor {
    display: none;
}
.icon-wrapper {
    display: inline-block;
}

.featured-box {
    background: #f5f5f5;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom, #fff 1%, #f9f9f9 98%) repeat scroll 0 0 #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #0088cc;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 100px;
    position: relative;
    text-align: center;
    z-index: 1;

}
.featured-box-primary .box-content{
    border-top-color: #08c;
}
featured-box .box-content {
    border-radius: 0;
    border-top: 1px solid #dfdfdf;
    position: relative;
    top: -1px;
    padding: 30px 30px 10px 30px;
}
 /*sidebar Css*/
.sidebar{
    background-color: #e4f579;
    padding: 20px;
    border-radius: 5px;
    opacity: 2;
}
.c-height{
    max-height: 400px;
}

/*//press Release*/
.otehr-link{
    font-weight: bold;
}
.otehr-link li.row{
    list-style: none;
    padding: 10px 0;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
}
.otehr-link span{
    width:100%;text-align:center;
    border:2px solid #002664;color:#fff;
    font-weight: bold;
}
.otehr-link a{padding-right:5px;
    color: gray;
}
/*slider*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/*seva kendra*/
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.bd-callout-info {
    border-left-color: #5bc0de;
}
/*list style*/
.circle-right ul { padding-left:20px; list-style:none;}
.circle-right li { margin-bottom:10px; padding: 10px; }
.circle-right li:before {
    font-family: 'FontAwesome';
    content: "\f138";
    margin:0 5px 0 -15px;
}
.circle-right a:hover{
    text-decoration: none;
    font-size: 16px;
}
.circle-right a:hover{
    text-decoration: none;
    color: #000;
}

/*CENTRAL EXCISE FORMS*/
.gray-bg {
    /* background: #f2f4f9; */
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}
.grey{
    background-color: #EBEBEB;
    padding: 10px 20px;
}
.logo-india{
    margin: 24px 0 25px 0;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -60px;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    z-index: -1;
    -webkit-transform: translate3d(0,0,0);
}

/*footer*/
.ulClass{
    list-style: none;
    padding: 10px
}
.liClass{
    padding: 5px;

}
.lia{
    color: #ffffff;
}
/*maps*/
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/*headquarters*/
.headquarters{
    background-color: #F4F4F4;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
}

/*faqs*/
.ullia ul{
    list-style: none;
    padding: 10px;
    text-align: left;
    padding: 10px;
    margin-left: 100px;
}
.ullia li{
    font-weight: bold;
    padding: 5px;
}
