<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">Information Officer</h2>
            <div class="col-md-offset-2 col-md-8">
                <table  align="center" class="table table-bordered table-responsive table-striped center-block">
                    <thead style="background-color: #03A9F4;color: #fff">
                    <tr>
                        <th>SR.NO</th>


                        <th>District</th>


                        <th>Sub- Division</th>


                        <th>Name/Designation/ Address of CPIO</th>


                        <th>Name/Designation/ Address of Appellate Authority</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr>															<td class="">																										1																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Mumbai (Hqrs.)																</td>
                        <td class="">																										<b>Dr.VishalChowdhary</b><br>
                            Deputy  Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										2																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-I																</td>
                        <td class="">																										<b>Dr.Gunjal Sandeep Suryabhan</b><br>
                            Assistant Commissioner<br>
                            1st Floor, Construction House,
                            WalchandHirachand Marg,
                            Mumbai-400 039.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										3																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-II																</td>
                        <td class="">																										<b>Shri ShrikantAwachar</b><br>
                            Deputy Commissioner<br>
                            Meher Bldg., Bombay Garage,
                            Chowpatty, Marine Lines,
                            Mumbai – 400 007																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										4																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-III																</td>
                        <td class="">																										<b>Shri ShrikantAwachar</b><br>
                            Deputy  Commissioner<br>
                            Meher Bldg., Bombay Garage,
                            Chowpatty, Marine Lines,
                            Mumbai – 400 007.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										5																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-IV																</td>
                        <td class="">																										<b>Dr.Gunjal Sandeep Suryabhan</b><br>
                            Assistant Commissioner<br>
                            1st Floor, Construction House
                            WalchandHirachand Marg,
                            Mumbai-400 039.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										6																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-V																</td>
                        <td class="">																										<b>Shri Jaiprakash Singh</b><br>
                            Assistant Commissioner<br>
                            Piramal Chambers, JijiBhoy
                            Lane, Lalbaug, Parel, Mumbai-
                            400 012.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										7																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-VI																</td>
                        <td class="">																										<b>Shri B.G. Amrutsagar</b><br>
                            Assistant Commissioner<br>
                            Piramal Chambers, JijiBhoy Lane,Lane, Lalbaug, Parel, Mumbai-400 012.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										8																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-VII																</td>
                        <td class="">																										<b>Shri B.G. Amrutsagar</b><br>
                            Assistant Commissioner<br>
                            Piramal Chambers, JijiBhoy Lane,Lane, Lalbaug, Parel, Mumbai-400 012.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										9																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division – VIII &amp; IX																</td>
                        <td class="">																										<b>Ms. Money Jain</b><br>
                            Assistant Commissioner<br>
                            Piramal Chambers, JijiBhoy Lane,Lane, Lalbaug, Parel, Mumbai-400 012.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    <tr>															<td class="">																										10																</td>
                        <td class="">																										Mumbai																</td>
                        <td class="">																										Division-X																</td>
                        <td class="">																										<b>Shri.Y.P.B. Singh</b><br>
                            Assistant Commissioner<br>
                            Piramal Chambers, JijiBhoy Lane,Lane, Lalbaug, Parel, Mumbai-400 012.																</td>
                        <td class="">																										<b>Ms. Manpreet Arya, </b><br>
                            Addl. Commissioner,<br>
                            Office of the Commissioner of CGST &amp;C.Ex., Mumbai Central 115, GST Bhavan, M.K. Road, Churchgate, Mumbai-400 020. 																</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>