<% include ../partials/header.ejs%>
<% include ../partials/sidebar.ejs%>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">List of Pages</h4>
                        <p class="category">You can View,Edit and Delete Pages</p>
                        <div class="pull-right">
                        <button type="button" class="btn btn-success "><i class="fa fa-plus-square" style="font-size: 18px;"></i> Add New Page</button>
                        </div>
                    </div>
                <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <th>S.NO</th>
                    <th>Title</th>
                    <th>Actions</th>
                    <th>Published</th>

                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>HOME</td>
                        <td><a href="/admin/pages/edit" data-toggle="tooltip" title="Edit"> <i class="pe-7s-pen" style="font-size: 32px;color: #1D62F0;"></i></a>
                                ---
                            <a href="/admin/pages/delete" data-toggle="tooltip" title="Delete" onclick="if (!confirm('Are you sure to DELETE Page?')) { return false }"><i class="pe-7s-close"style="font-size: 32px;color:red;"></i></a></td>
                        <td>21-02-2018</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>About Us</td>
                        <td><a href="#" data-toggle="tooltip" title="Edit"> <i class="pe-7s-pen" style="font-size: 32px;color: #1D62F0;"></i></a>
                            ---
                            <a href="#" data-toggle="tooltip" title="Delete"><i class="pe-7s-close"style="font-size: 32px;color:red;"></i></a></td>
                        <td>21-02-2018</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Contact Us</td>
                        <td><a href="#" data-toggle="tooltip" title="Edit"> <i class="pe-7s-pen" style="font-size: 32px;color: #1D62F0;"></i></a>
                            ---
                            <a href="#" data-toggle="tooltip" title="Delete"><i class="pe-7s-close"style="font-size: 32px;color:red;"></i></a></td>
                        <td>21-02-2018</td>

                    </tr>

                    </tbody>
                </table>

            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>