<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">ORGANIZATIONAL STRUCTURE</h2>
            <div class="col-md-offset-3 col-md-6">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Circular No.</th>
                        <th><div>Date</div></th>
                        <th>File No.</th>
                        <th>Subject</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">206/4/2017-ST  <br>
                            [<a href="http://www.cbec.gov.in/htdocs-servicetax/st-circulars/st-circulars-2017/st-circ-206-4-2017-fnl.pdf" target="_blank">Eng.</a>]
                        </td>
                        <td class="text-center">13-04-2017</td>
                        <td class="text-center">F.No.354/42/2016-TRU</td>
                        <td class="text-center">Issues related to levy of service tax on the services provided by a person located in non-taxable territory to a person located in non-taxable territory by way of transportation of goods by a vessel from a place outside India to the customs station in India </td>
                    </tr><tr>
                        <td class="text-center">205/03/2017-ST  <br>
                            [<a href="http://www.cbec.gov.in/htdocs-servicetax/st-circulars/st-circulars-2017/st-circ-205-3-2017-new.pdf" target="_blank">Eng.</a>]
                        </td>
                        <td class="text-center">27-03-2017</td>
                        <td class="text-center">F.No. 137/155/2012-Service Tax (Part II)</td>
                        <td class="text-center">Extension of e-payment deadline and of banking hours</td>
                    </tr><tr>
                        <td class="text-center">204/02/2017-ST  <br>
                            [<a href="http://www.cbec.gov.in/htdocs-servicetax/st-circulars/st-circulars-2017/st-circ-204-2-2017.pdf" target="_blank">Eng.</a>]

                        </td>
                        <td class="text-center">16-02-2017</td>
                        <td class="text-center">F.No.354/42/2016-TRU</td>
                        <td class="text-center">Applicability of service tax on the services by way of transportation of goods by a vessel from a place outside India to the customs station in India w.r.t. goods intended for transshipment to any country outside India </td>
                    </tr><tr>
                        <td class="text-center">203/01/2017-ST  <br>
                            [<a href="http://www.cbec.gov.in/htdocs-servicetax/st-circulars/st-circulars-2017/st-circ-203-1-2017.pdf" target="_blank">Eng.</a>]

                        </td>
                        <td class="text-center">02-02-2017</td>
                        <td class="text-center">F.No. 137/22/2012-Service Tax(Pt.II)</td>
                        <td class="text-center">Mentioning of Minor head code of Refund</td>
                    </tr></tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>