<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">

            <div class="col-md-offset-3 col-md-6">
                <h2 class="text-center">SERVICE TAX FORMS</h2>
                <table class="table table-bordered table-striped table-responsive" >

                    <thead>
                    <tr>
                        <th>Form type</th>
                        <th>Brief Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st-scst1.pdf" target="_blank">Form-SC(ST)-1</a><span class="pdf_icon"></span></td>
                        <td>Form of application for settlement of a case under
                            section 32E of Excise Act made applicable to service tax vide
                            section 83 of the Finance Act, 1994 (32 of 1994)</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/appln-compounding-offence.pdf" target="_blank">Application</a><span class="pdf_icon"></span></td>
                        <td>Application for Compounding of Offence</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st-proforma-prov-attchpropty.pdf" target="_blank">Proforma</a><span class="pdf_icon"></span></td>
                        <td>Proforma for forwarding the proposal for publishing
                            of names and other details&nbsp;&nbsp;in r/o Service Tax
                            (Provisional Attachment of Property) Rules, 2008</td>
                    </tr>

                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/stform1-disp-resoltn-scheme.pdf" target="_blank">Form-1</a><span class="pdf_icon"></span></td>
                        <td>Form of declaration under Section 94 of the Finance
                            Act, 2008 in respect of Dispute Resolution Scheme, 2008</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/stform2-disp-resoltn-scheme.pdf" target="_blank">Form-2</a><span class="pdf_icon"></span></td>
                        <td>Certificate for full and final settlement of tax
                            arrears under Section 96 (2) of the Finance Act, 2008 in
                            respect of Dispute Resolution Scheme, 2008</td>
                    </tr>
                    <tr>
                        <td>G.A.R. 7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>G.A.R. Proforma for Service Tax payments&nbsp;(For
                            payments from April, 2007 onwards)&nbsp; [<a href="http://cbec.gov.in/htdocs-cbec/st_front_jan09.pdf" target="_blank">Front</a><span class="pdf_icon"></span>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<a href="http://cbec.gov.in/htdocs-cbec/GAR_st_reverse_sept2010.pdf" target="_blank">Reverse</a><span class="pdf_icon"></span>]
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st1.pdf" target="_blank">ST - 1</a><span class="pdf_icon"></span></td>
                        <td>Application form for registration under Section 69 of
                            the Finance Act, 1994
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st2.pdf" target="_blank">ST - 2</a><span class="pdf_icon"></span></td>
                        <td>Certificate of registration under Section 69 of The
                            Finance Act, 1994 (32 of 1994)</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/ST-3_oct2013.xlsx" target="_blank">ST - 3</a></td>
                        <td>Return under Section 70 of the Finance Act, 1994 read
                            with Rule 7 of Service Tax Rules, 1994</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st3A.pdf" target="_blank">ST - 3A</a><span class="pdf_icon"></span></td>
                        <td>Memorandum for provisional deposit under rule 6 of
                            the Service Tax Rules, 1994</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st4.pdf" target="_blank">ST -&nbsp;&nbsp;4</a><span class="pdf_icon"></span></td>
                        <td>Form of Appeal to the Commissioner of Central Excise
                            (Appeals)</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st5.pdf" target="_blank">ST - 5</a><span class="pdf_icon"></span></td>
                        <td>Form of Appeal to Appellate Tribunal under
                            sub-section (1) of section 86 of the Finance Act, 1994</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st6.pdf" target="_blank">ST - 6</a><span class="pdf_icon"></span></td>
                        <td>Form of Memorandum of Cross-Objections to the
                            Appellate Tribunal under sub-section (4) of section 86 of
                            Finance Act, 1994</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st7.pdf" target="_blank">ST - 7</a><span class="pdf_icon"></span></td>
                        <td>Form of Appeal to Appellate Tribunal under
                            sub-section (2) of section 86 or sub-section (2A) of section
                            86 of the Finance Act, 1994</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/aar-st1.pdf" target="_blank">AAR (ST-I)</a><span class="pdf_icon"></span></td>
                        <td>Application for Advance Ruling (Service Tax)</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/astr-1.pdf" target="_blank">ASTR - 1</a><span class="pdf_icon"></span></td>
                        <td>Application for filing a claim of
                            rebate of service tax and&nbsp;cess&nbsp;paid on taxable
                            services exported</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/astr-2.pdf" target="_blank">ASTR - 2</a><span class="pdf_icon"></span></td>
                        <td>Application for filing a claim of
                            rebate of duty paid on inputs, service tax
                            and&nbsp;cess&nbsp;paid on input services</td>
                    </tr>

                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/formA-ccr2004-refund.pdf" target="_blank">Form - A</a><span class="pdf_icon"></span></td>
                        <td>Application for refund of CENVAT credit under Rule 5
                            of the CENVAT Credit Rules, 2004</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st12-2013-formA1.pdf" target="_blank">Form
                                - A1</a><span class="pdf_icon"></span></td>
                        <td>Declaration by the SEZ Unit or Developer for
                            availing&nbsp;ab&nbsp;initio exemption</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st12-2013-formA2.pdf" target="_blank">Form
                                - A2</a><span class="pdf_icon"></span></td>
                        <td>Authorisation&nbsp;for procurement of services by a
                            SEZ Unit/Developer for&nbsp;authorised&nbsp;operations</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st12-2013-formA3.pdf" target="_blank">Form
                                - A3</a><span class="pdf_icon"></span></td>
                        <td>Quarterly return to be furnished by the SEZ
                            Unit/Developer furnishing the details of services procured
                            without payment of service tax</td>
                    </tr>
                    <tr>
                        <td><a href="http://cbec.gov.in/htdocs-servicetax/forms/st12-2013-formA4.pdf" target="_blank">Form
                                - A4</a><span class="pdf_icon"></span></td>
                        <td>Application for claiming refund of service tax paid
                            on specified services used
                            for&nbsp;authorised&nbsp;operations in SEZ</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>