<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">SERVICE TAX RULES</h2>
            <div class="col-md-offset-2 col-md-6">
                <ul class="list circle-right"style="list-style: none; text-decoration: none;">

                    <li><a href="http://cbec.gov.in/htdocs-servicetax/strules-place-of-provsn.pdf" target="_blank">Place of provision of Services Rules, 2012</a><span class="pdf_icon">(133 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st-compdg-offences-rules" target="_blank">Service Tax (Compounding of Offences) Rules, 2012</a></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st-setlmt-cases-rules" target="_blank">Service Tax (Settlement of Cases) Rules, 2012</a></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/strules-pt-taxtn.pdf" target="_blank">Point of Taxation Rules, 2011</a><span class="pdf_icon">(130 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st_determtn_value_rules.pdf" target="_blank">Service Tax (Determination of Value) Rules, 2006</a><span class="pdf_icon">(83 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st_disp_resltn_scheme_rules_may.pdf" target="_blank">Dispute Resolution Scheme Rules, 2008</a><span class="pdf_icon">(165 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st_disp_resltn_scheme_rules_1.pdf" target="_blank">Service Tax Dispute Resolution Scheme, 2008</a><span class="pdf_icon">(26 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st_prov_attachmt_property_rules_may.pdf" target="_blank">Service Tax (Provisional Attachment of Property) Rules, 2008</a><span class="pdf_icon">(75 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st_publicatn_names_rules.pdf" target="_blank">The Service Tax (Publication of Names) Rules, 2008</a><span class="pdf_icon">(36 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/adv-rulings-rules-2003" target="_blank">Service Tax (Advance Rulings) Rules 2003</a></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/st_return_preparer_Scheme_rules.pdf" target="_blank">Service Tax Return Preparer Scheme, 2009</a><span class="pdf_icon">(34 KB)</span></li>
                    <li><a href="http://cbec.gov.in/htdocs-servicetax/strules1994-ason30012017.pdf" target="_blank">Service Tax Rules, 1994</a><span class="pdf_icon">(1071 KB)</span> </li>

                </ul>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>