<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">Hyperlink policy</h2>
            <div class="col-md-offset-3 col-md-6">
                <p class="text-justify">At many places in this website, you shall find links to other websites/portals. These links have been placed for your convenience. By creating a link to a third party web site, Goods & Services Tax Commissionerate Mumbai Central shall not liable for any failure of products or services offered or advertised at those sites. When you select a link to an outside website, you shall be leaving the GST website and shall be subject to the privacy and security policies of the owners/sponsors of the outside website(s). Prior permission is required before hyperlinks are directed from any website/portal to this website. Permission for the same, stating the nature of the content on the pages from where the link has to be given and the exact language of the Hyperlink should be obtained by sending a request to Goods & Services Tax Commissionerate Mumbai Central.</p>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>