<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">Website policy</h2>
            <div class="col-md-offset-2 col-md-8">
                <h3>COPYRIGHT POLICY</h3>
                <p class="text-justify">This website is maintained and operated by Goods & Services Tax Commissionerate MUMBAI CENTRAL. The materials/contents featured on this website is/are exclusively owned by and/or licensed to GOODS & SERVICES TAX COMMISSIONERATE MUMBAI CENTRAL, and is protected by copyright, trademark and other intellectual property and other applicable laws of India. The contents displayed on this website may be downloaded, subject to copyright and proprietary information exclusively retained with GOODS & SERVICES TAX COMMISSIONERATE MUMBAI CENTRAL and terms of this policy. The contents of this website shall not be distributed, modified, transmitted, used, reused, made derivative works of, reported for public or commercial purposes, including, text, images, audio, and video or otherwise, without the prior written permission of GOODS & SERVICES TAX COMMISSIONERATE MUMBAI CENTRAL. However, subject to the above, the materials and contents have to be used accurately and strictly for the permitted purpose and not in a derogatory manner or in a misleading context. Wherever such materials and contents are being used, the source must be prominently acknowledged. The above permission to use any material featured on this website shall not extend to any material featured on this website which is explicitly identified as being the copyrighted property of a third party. Authorization to reproduce such copyrighted material must be obtained from the copyright holders concerned. These policies shall be governed by and construed in accordance with the Indian Laws. Any dispute arising in connection with this policy shall be subject to the exclusive jurisdiction of the Courts at Mumbai only.</p>

                <h3>PRIVACY POLICY</h3>
                <p class="text-justify">
                    Goods and Services Tax Network does not collect any personal information about a visitor to Goods and Services Tax Portal (hereinafter 'Website') unless that visitor explicitly and voluntarily provides it. If you choose to provide us with your personal information when you visit our website, we use it only to take necessary action on your request. We do not sell or share any personally identifiable information volunteered on this site to any third party except as may be required in terms of any Government Order, Notification, Policy or request. Any information provided to this website will reasonably be protected from any, misuse, unauthorized access or disclosure, alteration, or destruction in connection thereof. We gather certain information about the User, such as Internet protocol (IP) address, domain name, browser type, operating system, the date and time of the visit and the pages visited, and if you reached this website from another website, the address of that referring website. We make no attempt to link these addresses with the identity of individuals visiting our site unless an attempt to damage the site has been detected.
                </p>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>