<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">Departmental Officers</h2>
            <div class="col-md-offset-3 col-md-6">
                <div class="wpb_wrapper center-block">
                    <p style="text-align: left;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a
                                href="/desk/instruction">Instructions / Policies / Circulars</a></p>
                    <p style="text-align: left;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a
                                href="/desk/EsttOrders">Estt. Orders</a></p>
                    <p style="text-align: left;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a
                                href="/desk/LandBuilding">Land &amp; Building</a></p>
                    <p style="text-align: left;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a
                                href="/desk/StaffWelfare">Staff Welfare, Sports &amp; Cultural</a></p>

                </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>