<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">Departmental Officers</h2>
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-3">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <h3 class="text-uppercase center-block" style="padding: 50px;"><a href="/desk/instruction"
                                                                                              style="color: #0088cc;font-weight: 500; text-decoration: none;">Instructions
                                    - Policies - Circulars</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <h3 class="text-uppercase center-block" style="padding: 50px;"><a href="/desk/EsttOrders"
                                                                                              style="color: #0088cc;font-weight: 500; text-decoration: none;">Estt.
                                    Orders</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <h3 class="text-uppercase center-block" style="padding: 50px;"><a href="/desk/LandBuilding"
                                                                                              style="color: #0088cc;font-weight: 500; text-decoration: none;">Land
                                    &amp; Building</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <h3 class="text-uppercase center-block" style="padding: 50px;"><a href="/desk/StaffWelfare"
                                                                                              style="color: #0088cc;font-weight: 500; text-decoration: none;">Staff
                                    Welfare, Sports &amp; Cultural</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>