<% include ../partials/header.ejs %>

<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">

        <div class="row no-margin">
            <div class="col-md-offset-1 col-md-11">

                <%- data.content %>
            </div>

        </div>

        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs %>

