<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h1 class="text-center">CIRCULAR AND INSTRUCTIONS</h1>
            <div class="col-md-offset-3 col-md-6">
                <h2>CIRCULAR</h2>
                <table class="table table-bordered table-striped table-responsive">

                    <thead>
                    <tr>
                        <th>Circular No.</th>
                        <th>Date</th>
                        <th>File No.</th>
                        <th>Subject</th>
                    </tr>
                    </thead>
                    <tbody aria-live="polite" aria-relevant="all">


                    <tr role="row" class="odd" style="">
                        <td><p>1057/06/2017-CX</p>
                            <p>[<a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-circulars/cx-circulars-2017/circ1057-2017cx.pdf" target="_blank">Eng.</a>]</p>
                        </td>
                        <td><p>07-07-2017</p></td>
                        <td><p>F. No. 116/23/2015-CX.3</p></td>
                        <td><p>Classification of Printed Workbooks, Exercise books etc. under erstwhile CETA 1985-reg</p></td>
                    </tr><tr role="row" class="even" style="">
                        <td><p>1056/05/2017-CX</p>
                            <p>[<a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-circulars/cx-circulars-2017/circ1056-2017cx.pdf" target="_blank">Eng.</a>]</p>
                        </td>
                        <td><p>29-06-2017</p></td>
                        <td><p>F. No. 267/40/2017-CX.8</p></td>
                        <td><p>Handling of legacy work of LTUs in the GST regime</p></td>
                    </tr><tr role="row" class="odd" style="">
                        <td><p>1055/04/2017-CX</p>
                            <p>[<a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-circulars/cx-circulars-2017/circ1055-2017cx.pdf" target="_blank">Eng.</a>]</p>
                        </td>
                        <td><p>01-05-2017</p></td>
                        <td><p>F. No. 81/08/2016-CX.3</p></td>
                        <td><p>Clarification regarding posting of Central Excise officer in Cigarette units</p></td>
                    </tr><tr role="row" class="even" style="">
                        <td>
                            <p>1054/03/2017-CX</p>
                            <p>[<a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-circulars/cx-circulars-2017/circ1054-2017cx.pdf" target="_blank">Eng.</a>]</p>
                        </td>
                        <td><p>15-03-2017</p></td>
                        <td><p>F. No. 116/31/2016-CX.3</p></td>
                        <td><p>Classification of 'Saree' under CETA, 1985</p></td>
                    </tr><tr role="row" class="odd" style="">
                        <td>
                            <p>1053/02/2017-CX</p>
                            <p>[<a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-circulars/cx-circulars-2017/circ1053-2017cx.pdf" target="_blank">Eng.</a>]</p>
                        </td>
                        <td><p>10-03-2017</p></td>
                        <td><p>F.No. 96/1/2017-CX.I</p></td>
                        <td><p> Master Circular on Show Cause Notice, Adjudication and Recovery</p></td>
                    </tr><tr role="row" class="even" style="">
                        <td>
                            <p>1052/01/2017-CX</p>
                            <p>[<a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-circulars/cx-circulars-2017/circ1052-2017cx.pdf" target="_blank">Eng.</a>]</p>
                        </td>
                        <td><p>23-02-2017</p></td>
                        <td><p>F.No. 116/29/2015-CX.3</p></td>
                        <td><p> Classification of articles of paper and printing industry</p></td>
                    </tr></tbody>
                </table>


                <h2>INSTRUCTIONS</h2>
                <table class="table table-bordered table-striped table-responsive">

                    <thead>
                    <tr>
                        <th>File No.</th>
                        <th>Date of issue</th>
                        <th>Subject</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>F.No.390/Review/49/2017-JC</td>
                        <td>08-08-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/office-order-15-2017.pdf" target="_blank">Constitution of Review Committee of Pr. Chief Commissioner or Chief Commissioners/ Pr.Commissioners or Commissioner- Reg.</a></td>
                    </tr><tr>
                        <td>F.No./390/Review/49/2017-JC</td>
                        <td>13-07-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/office-order4.pdf" target="_blank">OFFICE ORDER- 04/2017-CE&amp; ST</a></td>
                    </tr><tr>
                        <td>F.No./390/Review/49/2017-JC</td>
                        <td>13-07-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/office-order3.pdf" target="_blank">OFFICE ORDER- 03/2017-CE&amp; ST</a></td>
                    </tr><tr>
                        <td>F.No./390/Review/49/2017-JC</td>
                        <td>13-07-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/office-order2.pdf" target="_blank"> OFFICE ORDER- 02/2017-CE&amp; ST</a></td>
                    </tr><tr>
                        <td>F.No./390/Review/49/2017-JC</td>
                        <td>13-07-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/office-order1.pdf" target="_blank">OFFICE ORDER- 01/2017-CE&amp; ST</a></td>
                    </tr><tr>
                        <td>F. NO. 206/01/2017-CX 6</td>
                        <td>16-02-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/cx-ins-cas-4cert.pdf" target="_blank">Periodicity of CAS-4 certificates</a></td>
                    </tr><tr>
                        <td>F.No. 276/104/2016-CX.8A (Pt.)</td>
                        <td>03-01-2017</td>
                        <td><a href="http://www.cbec.gov.in/htdocs-cbec/excise/cx-instructions/cx-instructions-2017/cx-ins-scn-callbook-withdrawn.pdf" target="_blank">Withdrawal of instructions regarding inclusion of Show Cause Notice issued in relation to sub-section (11) of Section 28 of the Customs Act, 1962 on the competency of officers of DGDRI, DGCEI and Customs (Prev.) in the Call Book</a></td>
                    </tr></tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>