<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">CENTRAL EXCISE FORMS</h2>
            <div class="col-md-offset-2 col-md-6">

                    <table class="table table-bordered table-striped table-responsive">
                    <tbody>
                    <tr>
                        <th>Forms</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td class="wtd150"><a href="files/c-forms/it-disp-resoltn-sch-fm1.pdf" target="_blank">Form-1<span class="pdf_icon">(242 KB)</span></a></td>
                        <td>Indirect Tax Dispute Resolution Scheme Rules,2016</td>
                    </tr>
                    <tr>
                        <td class="wtd150"><a href="files/c-forms/it-disp-resoltn-sch-fm2.pdf" target="_blank">Form-2<span class="pdf_icon">(219 KB)</span></a></td>
                        <td>Indirect Tax Dispute Resolution Scheme Rules,2016</td>
                    </tr>
                    <tr>
                        <td class="wtd150"><a href="files/c-forms/it-disp-resoltn-sch-fm3.pdf" target="_blank">Form-3<span class="pdf_icon">(219 KB)</span></a></td>
                        <td>Indirect Tax Dispute Resolution Scheme Rules,2016</td>
                    </tr>
                    <tr>
                        <td class="wtd150"><a href="files/c-forms/it-disp-resoltn-sch-fm4.pdf" target="_blank">Form-4<span class="pdf_icon">(179 KB)</span></a></td>
                        <td>Indirect Tax Dispute Resolution Scheme Rules,2016</td>
                    </tr>
                    <tr>
                        <td class="wtd150"><a href="files/c-forms/cx-settlemnt-comm.pdf" target="_blank">Form of application<span class="pdf_icon">(28KB)</span></a></td>
                        <td>Settlement Commission - Form of application for
                            settlement of a case under section 32E
                        </td>
                    </tr>
                    <tr>
                        <td>GAR 7&nbsp;Challan<br>(<a href="files/c-forms/gar7cx-challanfrnt.pdf" target="_blank">Front<span class="pdf_icon">(619KB)</span></a>&nbsp; ||&nbsp;<a href="files/c-forms/gar7cx-challanreverse.pdf" target="_blank">Reverse<span class="pdf_icon">(16KB)</span></a>)
                        </td>
                        <td>G.A.R.-7 Proforma for Central Excise Tax Payments
                            (Receipt &amp; Payment Rules 26)</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/a-1.pdf" target="_blank">FORM A-1<span class="pdf_icon">(138KB)</span></a></td>
                        <td>New Central Excise Registration form. To fill this
                            form Please see&nbsp;<a href="/htdocs-cbec/excise/cx-circulars/cx-circulars-2001/593-01-cx">Instruction-1</a>&nbsp;and&nbsp;<a href="/htdocs-cbec/excise/cx-circulars/cx-circulars-2001/594-01-cx">Instruction-2</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/a-2.pdf" target="_blank">FORM
                                A-2<span class="pdf_icon">(19KB)</span></a></td>
                        <td>Application form for central excise registration
                            of&nbsp;powerloom&nbsp;weavers / hand processors / Dealers of
                            Yarns and Fabrics/ manufacturers of ready-made Garments</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/a-3.pdf" target="_blank">FORM
                                A-3<span class="pdf_icon">(36KB)</span></a></td>
                        <td>Application form for central excise registration of
                            manufacturers of hand rolled cheroots of tobacco falling
                            under sub-heading no. 2402.00 of central excise tariff act,
                            1985.</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/RC.pdf" target="_blank">FORM RC<span class="pdf_icon">(11KB)</span></a></td>
                        <td>Central Excise Registration Certificate</td>
                    </tr>
                    <tr>
                        <td>Surrender of&nbsp;<a href="files/c-forms/anx3.pdf" target="_blank">FORM RC<span class="pdf_icon">(5KB)</span></a></td>
                        <td>Surrender of Registration Certificate</td>
                    </tr>
                    <tr>
                        <td>Declaration&nbsp;<a href="files/c-forms/anx4.pdf" target="_blank">FORM<span class="pdf_icon">(13KB)</span></a></td>
                        <td>Declaration FORM</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx5.pdf" target="_blank">FORM<span class="pdf_icon">(17KB)</span></a>&nbsp;for New ECC No.</td>
                        <td>Format for application for obtaining new excise
                            control code number</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx6.pdf" target="_blank">FORM<span class="pdf_icon">(6KB)</span></a></td>
                        <td>Form for Allotment of New Excise Control Code Number</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx7.pdf" target="_blank">FORM B-2<span class="pdf_icon">(14KB)</span></a></td>
                        <td>General Bond (Surety/Security)</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx8.pdf" target="_blank">PLA<span class="pdf_icon">(7KB)</span></a></td>
                        <td>Personal Ledger Account</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx9.pdf" target="_blank">Pass out document<span class="pdf_icon">(12KB)</span></a></td>
                        <td>For removal of Liquid gases</td>
                    </tr>
                    <tr>
                        <td>Monthly return for&nbsp;<a href="files/c-forms/monthly-return.pdf" target="_blank">CENVAT<span class="pdf_icon">(14KB)</span></a></td>
                        <td>Proforma for monthly return under rule 7 of the
                            CENVAT Credit Rules, 2001</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx11.pdf" target="_blank">FORM AC-1<span class="pdf_icon">(6KB)</span></a></td>
                        <td>Account of Removals from FTZ, EOU and SEZ to Domestic
                            Tariff Area</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-1.pdf" target="_blank">FORM E.R.- 1&nbsp;<span class="pdf_icon">(75KB)</span></a></td>
                        <td>Monthly return for production and removal of goods
                            and other relevant particulars and CENVAT credit</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-2.pdf" target="_blank">FORM E.R.-2<span class="pdf_icon">(76KB)</span></a></td>
                        <td>Monthly Return for hundred percent EOUs in respect of
                            goods manufactured, goods cleared and receipt of inputs and
                            capital goods</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-3.pdf" target="_blank">FORM E.R. - 3<span class="pdf_icon">(70KB)</span></a></td>
                        <td>Quarterly return for production and removal of goods
                            and other relevant particulars and CENVAT credit</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-4.pdf" target="_blank">FORM
                                E.R. - 4<span class="pdf_icon">(50KB)</span></a></td>
                        <td>Annual financial
                            information statement</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-5.pdf" target="_blank">FORM
                                E.R. - 5<span class="pdf_icon">(17KB)</span></a></td>
                        <td>CENVAT -&nbsp;Annual&nbsp;return
                            of information relating to principal inputs</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-6.pdf" target="_blank">FORM
                                E.R. - 6<span class="pdf_icon">(27KB)</span></a></td>
                        <td>CENVAT - Monthly return of information relating to
                            principal inputs</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ER-7.pdf" target="_blank">Form
                                ER - 7<span class="pdf_icon">(32KB)</span></a></td>
                        <td>Annual Installed Capacity Statement</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/cent15-2k11.pdf" target="_blank">Form
                                E.R.- 8<span class="pdf_icon">(92KB)</span></a></td>
                        <td>Simplified form for quarterly return&nbsp;&nbsp;of
                            excisable goods cleared @ 1% duty</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/qtr-return-reg-dealers.pdf" target="_blank">Qtrly&nbsp;Return
                                Form<span class="pdf_icon">(54KB)</span></a></td>
                        <td>Quarterly Return for the Registered Dealers (Under
                            Rule 7 of the CENVAT Credit Rules, 2002)</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ARE-1.pdf" target="_blank">FORM A.R.E.-1<span class="pdf_icon">(14KB)</span></a></td>
                        <td>Application for removal of excisable goods for export
                            by air/sea/post/land</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/UT-1.pdf" target="_blank">FORM UT-1<span class="pdf_icon">(8KB)</span></a></td>
                        <td>Letter of undertaking for removal-for export of
                            excisable goods without payment of duty</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/B-1.pdf" target="_blank">FORM B-1<span class="pdf_icon">(11KB)</span></a></td>
                        <td>General bond with surety/security for removal for
                            export of excisable goods without payment of duty&nbsp;</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/CT-1.pdf" target="_blank">FORM CT-1<span class="pdf_icon">(37KB)</span></a></td>
                        <td>Certificate for procurement of excisable goods for
                            export without payment of duty</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/CT-1-EOU.pdf" target="_blank">FORM CT-1<span class="pdf_icon">(94KB)</span></a></td>
                        <td>Certificate for procurement of excisable goods for
                            export without payment of duty from EOU</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/proforma-of-b1-bond.pdf" target="_blank">Proforma
                                for B-1 Bond<span class="pdf_icon">(7KB)</span></a></td>
                        <td>Proforma of Running Bond Account in respect of&nbsp;
                            B-1 Bond</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/stmt.pdf" target="_blank">Statement<span class="pdf_icon">(14KB)</span></a></td>
                        <td>Statement regarding Export of excisable goods without
                            duty</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/return.pdf" target="_blank">Return<span class="pdf_icon">(9KB)</span></a></td>
                        <td>Return for manufacturers following simplified Export
                            procedure</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/invoice-nepal.pdf" target="_blank">Invoice<span class="pdf_icon">(73KB)</span></a></td>
                        <td>Invoice for goods transmitted to Nepal under Central
                            Excise Seal&nbsp;( Also see&nbsp;<a href="/htdocs-cbec/excise/cx-act/notifications/notfns-2004/cent20-2k4">Notification
                                No. 20/2004-C.E. (N.T.)</a>, dated 06-09-2004)
                        </td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/invoice-nepalbhutan.pdf" target="_blank">Invoice<span class="pdf_icon">(28KB)</span></a></td>
                        <td>Invoice for goods transmitted to Nepal or Bhutan
                            under Central Excise Seal&nbsp;( Also see&nbsp;<a href="/htdocs-cbec/excise/cx-act/notifications/notfns-2001/cent45-2k1">Notification
                                No. 45/2001-C.E. (N.T.)</a>, dated&nbsp;26-06-2001)
                        </td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/bankcert.pdf" target="_blank">Bank Certificate<span class="pdf_icon">(6KB)</span></a></td>
                        <td>Bank Certificate for bills covering exports to Nepal
                            / Bhutan</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ARE-2.pdf" target="_blank">FORM A.R.E.-2<span class="pdf_icon">(53KB)</span></a></td>
                        <td>Combined application for removal of goods for export
                            under claim for rebate of duty</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/rebate-form.pdf" target="_blank">Rebate
                                Form<span class="pdf_icon">(8KB)</span></a></td>
                        <td>Form of declaration for availing benefit of rebate of
                            Central Excise Duty paid on export of goods</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/anx25.pdf" target="_blank">FORM
                                A.R.E.-3<span class="pdf_icon">(9KB)</span></a></td>
                        <td>Application for removal of goods from a factory or a
                            warehouse to another warehouse</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/B-3.pdf" target="_blank">FORM B-3<span class="pdf_icon">(8KB)</span></a></td>
                        <td>General Bond (security)</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/B3-proforma.pdf" target="_blank">Proforma
                                of B-3 Bond<span class="pdf_icon">(6KB)</span></a></td>
                        <td>Proforma of Running Bond Account in respect of&nbsp;
                            B-3 Bond</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/CT-2.pdf" target="_blank">FORM C.T.-2<span class="pdf_icon">(11KB)</span></a></td>
                        <td>Certificate for procurement of excisable goods under
                            Procedure for Export Warehousing</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/859-2k7-cx-annxa.pdf" target="_blank">FORM C.T.-3<span class="pdf_icon">(14KB)</span></a></td>
                        <td>Certificate for removal of excisable goods under bond</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ASP-2.pdf" target="_blank">FORM A.S.P. II<span class="pdf_icon">(6KB)</span></a>&nbsp;(Appendix-I)</td>
                        <td>Application for permission to avail of the special
                            procedure relating to stainless
                            steel&nbsp;pattis/pattas&nbsp;or aluminium circles</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/appx-2.pdf" target="_blank">Appendix-II<span class="pdf_icon">(15KB)</span></a></td>
                        <td>Removal of stainless steel patties/pattas&nbsp;under
                            special procedure</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/ASP-1.pdf" target="_blank">ASP I<span class="pdf_icon">(8KB)</span></a></td>
                        <td>Application for permission to avail of the special
                            procedure relating to embroidery</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/prod-reg.pdf" target="_blank">Production register<span class="pdf_icon">(10KB)</span></a></td>
                        <td>Production register to be maintained by the
                            manufacturer of embroidery working under special procedure</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-1.pdf" target="_blank">FORM No. E.A. - I<span class="pdf_icon">(9KB)</span></a></td>
                        <td>Form of Appeal to the Commissioner (Appeals) under
                            section 35 of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-2.pdf" target="_blank">FORM No. E.A.- 2<span class="pdf_icon">(8KB)</span></a></td>
                        <td>Form of Application to the Commissioner (Appeals)
                            under sub-section (4) of section 35E of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-3.pdf" target="_blank">FORM No. E.A.- 3<span class="pdf_icon">(169KB)</span></a></td>
                        <td>Form of Appeal to Appellate Tribunal under
                            sub-section (1) of section 35B of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-4.pdf" target="_blank">FORM No. E.A.- 4<span class="pdf_icon">(226KB)</span></a></td>
                        <td>Form of Memorandum of Cross-Objections to the
                            Appellate Tribunal under sub-section (4) of section 35B of
                            the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-5.pdf" target="_blank">FORM No. E.A.- 5<span class="pdf_icon">(217KB)</span></a></td>
                        <td>Form of appeal or application to Appellate Tribunal
                            under sub- section (2) of section 35B or under sub-section
                            (1) of section 35E of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-6.pdf" target="_blank">FORM No. E.A.- 6<span class="pdf_icon">(9KB)</span></a></td>
                        <td>Form of Application to the High Court under
                            sub-section (1) of section 35H of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-7.pdf" target="_blank">FORM No. E.A.- 7<span class="pdf_icon">(10KB)</span></a></td>
                        <td>Form of Memorandum of Cross-Objections under
                            sub-section (3) of section 35H of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/EA-8.pdf" target="_blank">FORM No. E.A.- 8<span class="pdf_icon">(13KB)</span></a></td>
                        <td>Form of revision application to the Central
                            Government under section 35EE of the Act</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/AAR-CE-1.pdf" target="_blank">FORM
                                AAR (CE-I)<span class="pdf_icon">(40KB)</span></a></td>
                        <td>Form of application for seeking Advance Ruling under
                            section 23C of the Central Excise Act,1944</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/refund-of-cenvat.pdf" target="_blank">Form
                                A<span class="pdf_icon">(25KB)</span></a></td>
                        <td>Application for refund of CENVAT credit under rule 5
                            of the CENVAT Credit Rules,&nbsp;2004</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/exempted-weaver.pdf" target="_blank">Proforma<span class="pdf_icon">(23KB)</span></a></td>
                        <td>Proforma of&nbsp;Challan&nbsp;and
                            Textile&nbsp;Quaterly&nbsp;Statement Form</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/e-excise-return.pdf" target="_blank">Application
                                Form<span class="pdf_icon">(12KB)</span></a></td>
                        <td>Application to avail the facility of filing excise
                            returns electronically</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/compounding-offences.pdf" target="_blank">Application
                                Form<span class="pdf_icon">(18KB)</span></a></td>
                        <td>Application for Compounding of Offence</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/spl-proc-panmasala.pdf" target="_blank">Application
                                Form<span class="pdf_icon">(21KB)</span></a></td>
                        <td>Application for permission to avail of the special
                            procedure relating to pan masala and pan masala containing
                            tobacco (Gutkha) (Appendix - I ) and Intimation of payment of
                            duty (Appendix - II)</td>
                    </tr>
                    <tr>
                        <td><a href="files/c-forms/area-based-exemptn.pdf" target="_blank">Form-
                                A<span class="pdf_icon">(36KB)</span></a></td>
                        <td>Quarterly return for production and removal of goods
                            under area based exemption</td>
                    </tr>
                    </tbody>
                </table>
                </div>

        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>