<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row no-margin">
            <h2 class="bd-callout bd-callout-info bg-success text-info text-center" style="padding: 10px;font-weight: bold; ">GST Faqs</h2>
            <div class="col-md-6 col-md-offset-3">
                <div class="profile-tabs">
                    <div class="nav-align-center">
                        <ul class="nav nav-pills test" role="tablist">
                            <li class="active" >
                                <a href="#General" role="tab" data-toggle="tab" aria-expanded="true">
                                    <i class="material-icons">camera</i>
                                    General FAQs
                                </a>
                            </li>
                            <li class="">
                                <a href="#Topic-wise" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="material-icons">palette</i>
                                    Topic-wise FAQs
                                </a>
                            </li>
                            <li class="">
                                <a href="#Sectoral" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="material-icons">people</i>
                                    Sectoral FAQs
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content" style="background-color: #f4f4f4">
                            <div class="tab-pane active" id="General">
                                <div class="row ullia">
                                    <ul>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faq-gst-2018.pdf">General FAQs</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faq-gst-hindi.pdf">General FAQs (Hindi)</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/tweet-faq.pdf">Tweet FAQs – I</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/tweet-faq-lot3.pdf;jsessionid=F4B80FA0B4C92202B8F4AEBCF58A31A2">Tweet FAQs – II</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/tweet-faq-3.pdf">Tweet FAQs – III</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane text-center" id="Topic-wise">
                                <div class="row ullia">
                                    <ul class="">
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/om-clarification.pdf">GST on Services</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/gst-faq-cooperative-society.pdf">Co-operative Societies</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faq-composition-levy-revised.pdf">Composition Levy</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/gst-traders.pdf">Traders</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane text-center" id="Sectoral">
                                <div class="row ullia">
                                    <ul>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faqs-government-services.pdf">Government Services</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/sectoral-faq-gems-jewellery.pdf">Gems &amp; Jewellery</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/sectoral-faq-it-ites.pdf">IT/ITES</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faqs-handicrafts.pdf">Handicrafts</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faq-mining.pdf">Mining</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faqs-drugsandpharmaceuticals-2.pdf">Drugs &amp; Pharma</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faq-e-commerce.pdf">E-commerce</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/faqs-foodprocessing.pdf">Food Processing</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/sectoral-booklets-msme.pdf">MSME</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/sectoral-booklets-exports.pdf">Exports</a></li>
                                        <li><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/sectoral-booklets-textiles.pdf">Textiles</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Profile Tabs -->
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>