
<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">GST HELP DESK</h2>
            <div class="col-md-offset-2 col-md-6">
                <h3 style="font-weight: 600; font-style: italic;" >"How may I help you?" </h3>
                <p style="text-align: justify;text-justify: inter-word;">Considering the complexities of Goods and services Act, it goes without saying that the taxpayers as well as Departmental Officers would have tonnes of queries about just everything. In order to ensure hassle-free implementation of the GST, CBEC has tasked Directorate General of Systems with setting up of a helpdesk that would act as a one-stop shop for all the needs of taxpayers as well as Central Government Officers.</p>
                <div class="bd-callout bd-callout-info bg-success" style="padding: 10px">
                    <h3 style="font-weight: bold;" class="text-info" >MUMBAI CENTRAL GST & CX COMMISSIONERATE</h3>
                    <h4><span  style="font-weight: bold;">Headquarter Address : </span>Ground Floor, GST Bhavan, Churchgate, Mumbai-400020</h4>
                    <h4><span  style="font-weight: bold;">Phone No :</span> 022-22002591</h4>
                </div>
                <div class="bd-callout bd-callout-info bg-warning" style="padding: 10px">
                    <h3 style="font-weight: bold;" class="text-info" >CBEC MITRA HELPDESK</h3>
                    <h4><span  style="font-weight: bold;">Phone No :</span> 1800 1200 232 (24 X 7)</h4>
                    <h4><span  style="font-weight: bold;">Email Address : </span>cbecmitra.helpdesk@icegate.gov.in</h4>
                </div>
                <div class="bd-callout bd-callout-info bg-info" style="padding: 10px">
                    <h3 style="font-weight: bold;" class="text-info" >GSTN HelpDesk</h3>
                    <h4><span  style="font-weight: bold;">Email Address : </span>helpdesk@gst.gov.in</h4>
                    <h4><span  style="font-weight: bold;">Phone No :</span>  0120-4888999</h4>
                </div>
                <div class="bd-callout bd-callout-info bg-success" style="padding: 10px">
                    <h3 style="font-weight: bold;" class="text-info" >GST</h3>
                    <h4><span  style="font-weight: bold;">Website : </span>www.gst.gov.in</h4>
                    <h4><span  style="font-weight: bold;">Phone No :</span> 0120-4888999</h4>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>