<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">ORGANIZATIONAL STRUCTURE</h2>
            <div class="col-md-offset-3 col-md-6 ">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th class="bg-primary text-center">
                            Sr.No
                        </th>
                        <th class="bg-primary">
                            Location of GST Seva Kendra
                        </th >
                        <th class="bg-primary">
                            Officer In-charge
                        </th>
                        <th class="bg-primary">
                            Phone No
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" width=200>
                            1
                        </td>
                        <td>
                            Gr. floor,  Central Excise Building, Churchgate, Mumbai - 400 020
                        </td>
                        <td>
                            Dr. Vishal Choudhary , Deputy Commissioner
                        </td>
                        <td>
                            022-22078741
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            2
                        </td>
                        <td>
                            7th floor, Piramal Chambers, Jijibhoy Lane, Lalbaug, Parel, Mumbai - 400 012

                        </td>
                        <td>
                            Money Jain ,Assistant Commissioner

                        </td>
                        <td>
                            022-4114205
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            3
                        </td>
                        <td>
                            1st floor, Construction House, Walchand Hirachand Marg, Mumbai - 400 009
                        </td>
                        <td>
                            Dr. Sandeep Gunjal ,Assistant Commissioner
                        </td>
                        <td>
                            022-22616105
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center">
                            4
                        </td>
                        <td>
                            Meher Building, Bombay Garage, Chowpatty, Marine Lines, Mumbai - 400 007
                        </td>
                        <td>
                            Dr. Shrikant Awachar,Deputy Commissioner
                        </td>
                        <td>
                            022-23696580
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>