<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">Headquarters</h2>
            <div class="col-md-4 col-md-offset-2">
                            <div class="headquarters">
                                <p><i class="fa fa-male"></i><strong style="color: #0088cc;">&nbsp;&nbsp;Dr. K. N. RAGHAVAN, </strong><br>
                                    <i class="fa fa-circle"></i>&nbsp;<strong><span style="color: #3188b3; font-size: 14px;">COMMISSIONER</span></strong></p>
                                <p><i class="fa fa-phone"></i>&nbsp;&nbsp;022-22017260<br>
                                    <i class="fa fa-envelope"> K.Raghvan@icegate.gov.in</i><br>
                                    <i class="fa fa-fax"></i>&nbsp;&nbsp;022-22004592</p>
                            </div>
            </div>
            <div class="col-md-4">
                <div class="headquarters">
                    <p><i class="fa fa-male"></i><strong style="color: #0088cc;">&nbsp;&nbsp;Mrs. MANPREET ARYA, </strong><br>
                        <i class="fa fa-circle"></i>&nbsp;<strong><span style="color: #3188b3; font-size: 14px;">Additional Commissioner</span></strong></p>
                    <p><i class="fa fa-phone"></i>&nbsp;&nbsp;022-22077767<br>
                        <i class="fa fa-envelope"> Manpreet.Arya@icegate.gov.in</i><br>
                        <i class="fa fa-fax"> 022-22004592</i></p>

                </div>
            </div>

            <div class="col-md-4 col-md-offset-2">
                <div class="headquarters">
                    <p><i class="fa fa-male"></i><strong style="color: #0088cc;">&nbsp; SHRI VIPUL GUPTA, </strong><br>
                        <i class="fa fa-circle"></i>&nbsp;<strong><span style="color: #3188b3; font-size: 14px;">JOINT COMMISSIONER</span></strong></p>
                    <p><i class="fa fa-phone"></i>&nbsp;&nbsp;022-22015426<br>
                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;Vipul.dce@gmail.com<br>
                        <i class="fa fa-fax"></i> 022-22004592</p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="headquarters">
                    <p><i class="fa fa-male"></i><strong style="color: #0088cc;">&nbsp;&nbsp;SHRI PANKAJ KUMAR, </strong><br>
                        <i class="fa fa-circle"></i>&nbsp;<strong><span style="color: #3188b3; font-size: 14px;">Joint Commissioner</span></strong></p>
                    <p><i class="fa fa-phone"></i>&nbsp;&nbsp;022-22060894<br>
                        <i class="fa fa-envelope"></i> Pankajyadav13@gmail.com<br>
                        <i class="fa fa-fax"></i> 022-22004592</p>

                </div>
            </div>
            </div>
        <div class="space-50"></div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>