<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">DIVISIONS & RANGES</h2>
            <div class="col-md-offset-2 col-sm-8">

                <table border="1" align="center" class="table table-bordered table-responsive">
                    <tbody>
                    <tr style="background:#0088cc; color:#fff;">
                        <td width="255" class="text-center">
                            <p><strong>DIVISION /CODE</strong></p>
                        </td>
                        <td width="285" class="text-center">
                            <p><strong>JURDICTION</strong></p>
                        </td>
                        <td width="284" class="text-center">
                            <p><strong>RANGE/CODE</strong></p>
                        </td>
                        <td width="283" class="text-center">
                            <p><strong>ASSESSES WHOSE FIRM NAME STARTS</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-I&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO01</strong></p>
                        </td>
                        <td rowspan="6" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes 400003 and 400009</strong></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p></td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0101</p>
                        </td>
                        <td width="283">
                            <p>A-C</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0102</p>
                        </td>
                        <td width="283">
                            <p>D-F</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0103</p>
                        </td>
                        <td width="283">
                            <p>G-J</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0104</p>
                        </td>
                        <td width="283">
                            <p>K-P</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0105</p>
                        </td>
                        <td width="283">
                            <p>Q-S</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-VI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0106</p>
                        </td>
                        <td width="283">
                            <p>T-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p><strong>&nbsp;</strong></p>
                            <p><strong>&nbsp;</strong></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-II</strong></p>
                            <p><strong>VO02</strong></p>
                            <p><strong>&nbsp;</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes 400008 and 400011</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0201</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0202</p>
                        </td>
                        <td width="283">
                            <p>E –H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0203</p>
                        </td>
                        <td width="283">
                            <p>I – M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0204</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0205</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-III</strong></p>
                            <p><strong>VO03</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin code 400013</strong></p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0301</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0302</p>
                        </td>
                        <td width="283">
                            <p>E-H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0303</p>
                        </td>
                        <td width="283">
                            <p>I-M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0304</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0305</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-IV</strong></p>
                            <p><strong>VO04</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes 400010 and 400027</strong></p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0401</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0402</p>
                        </td>
                        <td width="283">
                            <p>E-H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0403</p>
                        </td>
                        <td width="283">
                            <p>I-M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0404</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0405</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-V</strong></p>
                            <p><strong>VO05</strong></p>
                        </td>
                        <td rowspan="6" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes 400012, 400015 and 400033</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0501</p>
                        </td>
                        <td width="283">
                            <p>A-C</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0502</p>
                        </td>
                        <td width="283">
                            <p>D-F</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0503</p>
                        </td>
                        <td width="283">
                            <p>G-H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0504</p>
                        </td>
                        <td width="283">
                            <p>K-P</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0505</p>
                        </td>
                        <td width="283">
                            <p>Q-S</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-VI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0506</p>
                        </td>
                        <td width="283">
                            <p>T-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-VI</strong></p>
                            <p><strong>VO06</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes 400014 and 400028</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0601</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0602</p>
                        </td>
                        <td width="283">
                            <p>E –H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0603</p>
                        </td>
                        <td width="283">
                            <p>I - M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0604</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0605</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-VII</strong></p>
                            <p><strong>VO07</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes&nbsp; 400016 and 400017</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0701</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0702</p>
                        </td>
                        <td width="283">
                            <p>E –H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0703</p>
                        </td>
                        <td width="283">
                            <p>I - M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0704</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0705</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-VIII</strong></p>
                            <p><strong>VO08</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes&nbsp; 400018 and 400030</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0801</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0802</p>
                        </td>
                        <td width="283">
                            <p>E –H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0803</p>
                        </td>
                        <td width="283">
                            <p>I - M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0804</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0805</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-IX</strong></p>
                            <p><strong>VO09</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin code 400025</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE-I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0801</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0802</p>
                        </td>
                        <td width="283">
                            <p>E –H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0803</p>
                        </td>
                        <td width="283">
                            <p>I - M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO0804</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO0805</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" width="255">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>DIVISION-X</strong></p>
                            <p><strong>VO10</strong></p>
                        </td>
                        <td rowspan="5" width="285">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong>Pin codes400026 and 400034</strong></p>
                        </td>
                        <td width="284">
                            <p>RANGE- I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO1001</p>
                        </td>
                        <td width="283">
                            <p>A-D</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO1002</p>
                        </td>
                        <td width="283">
                            <p>E –H</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO1003</p>
                        </td>
                        <td width="283">
                            <p>I - M</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VO1004</p>
                        </td>
                        <td width="283">
                            <p>N-R</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="284">
                            <p>RANGE-V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VO1005</p>
                        </td>
                        <td width="283">
                            <p>S-Z</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>