<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h1 class="text-center">Citizen Charter</h1>
            <div class="col-md-offset-2 col-md-8">
                <div>
                    <h5>
                        The Central Board of Excise and Customs, in the Ministry of Finance, is the apex body for administering the levy and collection of indirect taxes of the Union of India viz. Central Excise duty, Customs duty and Service Tax, and for facilitating cross border movement of goods & services. In order to improve the delivery of its services, the Board has decided to formulate this Citizens’ Charter
                    </h5>
                    <h5>
                        This Charter is the declaration of our mission, values and standards to achieve excellence in the formulation and implementation of Customs, Central Excise and Service Tax policies and enforcement of cross border controls for the benefit of trade, industry and other stakeholders.
                    </h5>
                    <h5>
                        This Citizen's Charter will also be the benchmark to determine our efficiency and would be a dynamic document which would be reviewed at least once in two years.
                    </h5>
                </div>
                <div>
                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">Vision</h2>
                    <h4>Our Vision is to provide an efficient and transparent mechanism for collection of indirect taxes and enforcement of cross border controls with a view to encourage voluntary compliance.</h4>
                    <h3 class="text-info" style="font-weight: bold">Mission</h3>
                    <h4>Our Mission is to achieve excellence in the formulation and implementation of Customs, Central Excise and Service Tax laws and procedures aimed at:</h4>
                    <ul>
                        <li>realizing the revenues in a fair, equitable, transparent and efficient manner</li>
                        <li>administering the Government’s economic, taxation and trade policies in a pragmatic manner</li>
                        <li>facilitating trade and industry by streamlining and simplifying Customs, Central Excise and Service Tax processes and helping Indian business to enhance its competitiveness</li>
                        <li>ensuring control on cross border movement of goods, services and intellectual property</li>
                        <li>creating a climate for voluntary compliance by providing information and guidance</li>
                        <li>combating revenue evasion, commercial frauds and social menace</li>
                        <li>supplementing the efforts to ensure national security.</li>
                    </ul>
                    <h3 class="text-info" style="font-weight: bold">Our Strategy</h3>
                    <h4>The strategy for achieving our mission shall comprise the following:</h4>
                    <ul>
                        <li>Benchmarking of operations and adopting best practices</li>
                        <li>Enhancing the use of information technology</li>
                        <li>Streamlining Customs, Central Excise and Service Tax procedures by employing modern techniques like risk management, non- intrusive inspections and accredited clients facilitation</li>
                        <li>Evolving cooperative initiatives with other government and private agencies and building partnerships with trade, industry and other stakeholders</li>
                        <li>Measuring conformance to service delivery standards</li>
                        <li>Developing professionalism through capacity building.</li>
                    </ul>
                </div>
                <div>
                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">Our Key Functions and Services</h2>
                    <h3 class="text-info" style="font-weight: bold">Regulatory Functions</h3>
                    <ul>
                        <li>Levy and collection of Customs and Central Excise duties and Service Tax</li>
                        <li>Registration and monitoring of units manufacturing excisable goods and service providers</li>
                        <li>Receipt and scrutiny of declarations and returns filed with the department</li>
                        <li>Prevention of smuggling and combating evasion of duties and service tax</li>
                        <li>Enforcement of border control on goods and conveyances</li>
                        <li>Assessment, examination and clearance of imported goods and export goods</li>
                        <li>Implementation of export promotion measures</li>
                        <li>Clearance of international passengers and their baggage</li>
                        <li>Resolution of disputes through administrative and legal measures</li>
                        <li>Sanction of refund, rebate and drawback</li>
                        <li>Realization of arrears of revenue</li>
                        <li>Audit of assessments for ensuring tax compliance.</li>
                    </ul>
                    <h3 class="text-info" style="font-weight: bold">Service Functions</h3>
                    <ul>
                        <li>Dissemination of information on law and procedures through electronic and print media</li>
                        <li>Enabling filing of declarations, returns and claims through online services.</li>
                        <li>Providing information on the status of processing of declarations, returns and claims</li>
                        <li>Assisting the right holders in protecting their intellectual property rights</li>
                        <li>Responding to public enquiries relating to Customs, Central Excise and Service Tax matters</li>
                        <li>Providing Customs services such as examination of goods and factory stuffing of export goods at clients’ sites, as per policy.</li>
                    </ul>
                </div>
                <div>
                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">Our Expectations</h2>
                    <h3 class="text-info" style="font-weight: bold">We expect citizens to:</h3>
                    <ul>
                        <li>uphold and respect the laws of the land</li>
                        <li>voluntarily discharge all tax liabilities</li>
                        <li>fulfill their duties and legal obligations in time</li>
                        <li>be honest in furnishing information</li>
                        <li>be co-operative and forthright in inquiries and verifications</li>
                        <li>avoid unnecessary litigation.</li>
                    </ul>
                </div>
                <div>
                    <h3>This will enable us to provide our services in an effective and efficient manner</h3>
                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">OUR STANDARDS</h2>
                    <h3 class="text-info" style="font-weight: bold">We shall follow the following time norms in our services:</h3>
                    <ul>
                        <li>Acknowledge all written communications including declarations, intimations, applications and returns immediately and in no case later than 7 working days of their receipt</li>
                        <li>Convey decision on matters relating to declarations or assessments within 15 working days of their receipt</li>
                        <li>Dispose of a refund claim within 3 months of receipt of a complete claim</li>
                        <li>Remit drawback within 7 working days of,<br>
                            – filing of manifest in the case of electronic processing of declarations<br>
                            – filing of a paper claim in the case of manual processing</li>
                        <li>Clear the goods, where the declaration relating to any consignment is complete and correct,<br>
                            – in case of exports, within 24 hours of filing of declaration<br>
                            – in case of imports, within 48 hours of filing of declaration</li>
                        <li>Complete Central Excise registration formalities within 2 Working days of receiving a complete application</li>
                        <li>Complete examination and clearance of export consignment at factory premises within 24 hours of accepting the request</li>
                        <li>Give minimum 15 days advance intimation before undertaking the audit of assessees’ records</li>
                        <li><b>Release of seized documents, which have not been relied on for the issue of the show cause notice, within 30 days from the date of issue of the said notice, unless otherwise provided under the law.</b></li>
                        <li>Time norms for other activities, as may be prescribed, shall also be observed.</li>
                    </ul>
                    <p>We shall endeavour to achieve minimum compliance level of 80% of the aforesaid time norms.</p>
                    <p>Compliance levels shall be gradually enhanced through close monitoring, standardization of processes, use of IT enabled services etc.</p>
                </div>
                <div>
                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">OUR COMMITMENT</h2>
                    <h4>We shall strive to:</h4>
                    <ul >
                        <li>be at the service of the country and its citizens</li>
                        <li>work to uphold the economic security and sovereignty of the country</li>
                        <li>make our procedures and transactions as transparent as possible</li>
                        <li>encourage and assist voluntary tax compliance</li>
                    </ul>
                    <ul>
                        <li><b>carry out our tasks with:</b><br>
                            – integrity and judiciousness<br>
                            – impartiality and fairness<br>
                            – courtesy and understanding<br>
                            – objectivity and transparency<br>
                            – uprightness and conscientiousness<br>
                            – promptness and efficiency.</li>
                    </ul>
                    <h3 class="text-info" style="font-weight: bold">We Further Commit That</h3>
                    <ul>
                        <li>All officers will carry Identity Cards and all uniformed officers will wear name badges while on official duty.</li>
                        <li>Personal and business information disclosed to us will be kept confidential subject to the provisions of the Right to Information Act, 2005.</li>
                        <li>Assessees will be visited only by authorized officers.</li>
                        <li>Due respect will be given to the tax compliance record of the assessees.</li>
                        <li>Clearance of consignments will be withheld only after explaining the reasons thereof and an opportunity will be provided before passing any final order.</li>
                        <li>Baggage of international passengers will be opened only after explaining the reasons and in their presence.</li>
                        <li>Before searching any premises or persons, the reasons thereof shall be explained. Officers undertaking any search operations shall offer themselves for personal search beforehand.</li>
                        <li>The investigating officer will explain the legal provisions and your rights and obligations.</li>
                        <li>Full information about appeal procedure shall be provided alongwith details of the authorities with whom appeals can be filed.</li>
                        <li>Stakeholders will be consulted continually while reviewing our policies and procedures. Timely publicity of all changes in the law and procedures shall be provided.</li>
                        <li>Efforts will be made to enhance the use of information technology in all work areas and enable the trade to have IT based information access.</li>
                        <li>Every possible assistance will be rendered by the Public Relations Officer in the Divisional Office/Commissionerate Office/Custom House. The name and telephone number of the Public Relations Officer will be prominently displayed at such offices. Relevant information and details of procedures, as may be required, will also be provided.</li>
                    </ul>
                    <p>The service attributes shall be measured through customer perception feedback on the above commitments with the intention of continuous improvement in service delivery.</p>
                </div>
                <div>
                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">Complaints And Grievances</h2>
                    <h4>As a responsive and taxpayer-friendly department, we shall have in place the following mechanism:</h4>
                    <ul>
                        <li>We shall promptly acknowledge complaints within 48 hours of receipt and attempt to provide final replies within 30 working days of their receipt. In case it is not possible to send the final reply within the time specified, an interim reply shall be furnished to the complainant.</li>
                        <li>In case, the complaint is not attended to, within the prescribed time norms or the remedy offered is not satisfactory, an appeal can be filed with the jurisdictional Commissioner / Chief Commissioner.</li>
                        <li>Common complaints and grievances can also be taken up with the Public Grievance Committee, Permanent Trade Facilitation Committee, Regional Advisory Committee and in the Open House meetings.</li>
                    </ul>
                    <p>The detailed procedure for complaints handling process can be viewed on the CBEC website <a href="www.cbec.gov.in"></a> www.cbec.gov.in</p>

                    <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">Grievance Redressal Officers</h2>
                    <ul>
                        <li>At the field level: A Public Grievance Officer has been designated in each Commissionerate / Customs House with whom all complaints and grievances can be taken up. The contact details of the Commissionerate-wise Public Grievance Officer are available at www.cbec.gov.in.</li>
                        <li>At the Board level: Commissioner (Publicity) has been nominated as the Public Grievance Officer for the Central Board of Excise and Customs, whose contact details are indicated below :<br>
                            <table class="table table-bordered table-responsive table-striped">
                                <tbody>
                                <tr>
                                    <td rowspan="2"><b>Address :</b></td>
                                    <td>Directorate of Publicity &amp; Public Relations, Customs &amp; Central Excise,</td>
                                </tr>
                                <tr>
                                    <td>Central Revenues Building, I.P. Estate, New Delhi-110 109</td>
                                </tr>
                                <tr>
                                    <td><b>Phone :</b></td>
                                    <td>011-2337 9331 Fax : 011-2337 0744</td>
                                </tr>
                                </tbody>
                            </table>
                            <p>While preparing this charter, the representatives from Confederation of Indian Industry, Federation of Indian Chambers of Commerce & Industry, PHD Chamber of Commerce & Industry, Federation of Indian Exporters Association, Quality Council of India, Container Corporation of India, Delhi Customs Clearing Agents Association, the officers and staff associations of the department were consulted.</p>
                            <h4>This revised Citizens’ Charter was issued on the first day of December, 2008.</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>