<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row no-margin ">
            <h2 class="bd-callout bd-callout-info bg-success text-info text-center" style="padding: 10px;font-weight: bold; ">GST Commissionerate Desk</h2>
            <div class="col-md-offset-2 col-md-6">
                <h2>Greetings from Mumbai Central GST Commissionerate!</h2>
                <p>Goods and Services Tax (GST), the biggest tax reform witnessed in the country since independence, was brought into effect by Government of India, along with all State Governments, on 1 July 2017. Central Board of Excise and Customs has, through the various Commissionerates located across the country, been in the forefront for implementing the new levy as well as to help the assessees and tax payers in ensuring a smooth switch over from the old system to the new.</p>
                <p>I feel happy and privileged to present before you the new updated website of Mumbai Central Commissionerate. This website is launched to bring the Department closer to the assessee and tax payers by providing all necessary information not only about the tax and the laws and rules that govern them, but also the details of offices and officers of the Department with who they may be required to interact. The jurisdiction of the Commissionerate, the addresses of various offices, the contact telephone Nos. and e.mail Id’s of concerned officers are all provided to help the members of trade and industry.</p>
                <p>Successful implementation of the new levy and smooth transition from the old tax structure to the new can be achieved only through close and continuous interaction between the Department and the stake holders. This website is a step towards working to achieve this objective. While attempts have been made to provide information in an user friendly manner, we are also open to suggestions for improving the website so that it can be accessed and used
                    by members of tax paying community and all those interested in knowing about GST. It is my earnest request that each and every stake holder takes time to go through the website. We, on our part, pledge our sincere commitment to help the assessees and tax payers in paying the tax without any difficulty and in responding to their difficulties and problems with alacrity.</p>
                <h4 class="text-primary">JAI HIND</h4>
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>