<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">CONTACT DETAILS FOR DIVISION AND RANGES</h2>
            <div class="col-md-offset-3 col-md-6">
                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division I</h2>
                <h4 ><b>Address : </b>1st floor, Construction House, 5, Walchand Hirachand Marg, Ballard Pier, Mumbai – 400 001</h4>
                <h4 ><b>Phone No :</b>&nbsp;022-22616105</h4>
                <h4 ><b>Email ID :</b>&nbsp;dn1-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.8692294041634!2d72.83774806543877!3d18.937181587167768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1d0a85da01b%3A0xeca3c97b3bd1bddf!2sConstruction+House!5e0!3m2!1sen!2sin!4v1516121967435" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>


                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division II</h2>
                <h4><b>Address : </b> Meher Bldg., Bombay Garage, Dadi Seth Lane, Chowpatty, Mumbai – 400 007</h4>
                <h4><b>Phone No :</b>&nbsp;022-23696580</h4>
                <h4><b>Email ID :</b>&nbsp;dn2-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.8692294041634!2d72.83774806543877!3d18.937181587167775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1d0a8f67db7%3A0xbfdc4b7a2aaae1f1!2sMeher+Chambers!5e0!3m2!1sen!2sin!4v1516120695345" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>


                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division III</h2>
                <h4 ><b>Address : </b>Meher Bldg., Bombay Garage, Dadi Seth Lane, Chowpatty, Mumbai – 400 007</h4>
                <h4 ><b>Phone No :</b>&nbsp;022-23696580</h4>
                <h4 ><b>Email ID :</b>&nbsp;dn3-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.8692294041634!2d72.83774806543877!3d18.937181587167775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1d0a8f67db7%3A0xbfdc4b7a2aaae1f1!2sMeher+Chambers!5e0!3m2!1sen!2sin!4v1516120695345" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division IV</h2>
                <h4 ><b>Address : </b>1st floor, Construction House, 5, Walchand Hirachand Marg, Ballard Pier, Mumbai – 400 001</h4>
                <h4 ><b>Phone No :</b>&nbsp; 022-22704694</h4>
                <h4 ><b>Email ID :</b>&nbsp;dn4-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.8692294041634!2d72.83774806543877!3d18.937181587167768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1d0a85da01b%3A0xeca3c97b3bd1bddf!2sConstruction+House!5e0!3m2!1sen!2sin!4v1516121967435" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division V</h2>
                <h4 ><b>Address : </b>7th floor, Piramal Chambers, JijiBhoy Lane, Lalbaug, Mumbai 400 012</h4>
                <h4 ><b>Phone No :</b>&nbsp;  022-24103996</h4>
                <h4 ><b>Email ID :</b>&nbsp; dn5-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5524149347534!2d72.83620441543952!3d18.995364487134225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef0b5a55555%3A0xdb804cd42dcce77e!2sCentral+Excise+Mumbai+Zone-II!5e0!3m2!1sen!2sin!4v1516122279962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division VI</h2>
                <h4 ><b>Address : </b>7th floor, Piramal Chambers, JijiBhoy Lane, Lalbaug, Mumbai 400 012</h4>
                <h4 ><b>Phone No :</b>&nbsp;  022-24122975</h4>
                <h4 ><b>Email ID :</b>&nbsp; dn6-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5524149347534!2d72.83620441543952!3d18.995364487134225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef0b5a55555%3A0xdb804cd42dcce77e!2sCentral+Excise+Mumbai+Zone-II!5e0!3m2!1sen!2sin!4v1516122279962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division VII</h2>
                <h4 ><b>Address : </b>8th floor, Piramal Chambers, JijiBhoy Lane, Lalbaug, Mumbai 400 012</h4>
                <h4 ><b>Phone No :</b>&nbsp;  022-24122975</h4>
                <h4 ><b>Email ID :</b>&nbsp; dn7-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5524149347534!2d72.83620441543952!3d18.995364487134225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef0b5a55555%3A0xdb804cd42dcce77e!2sCentral+Excise+Mumbai+Zone-II!5e0!3m2!1sen!2sin!4v1516122279962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>


                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division VIII</h2>
                <h4 ><b>Address : </b>8th floor, Piramal Chambers, JijiBhoy Lane, Lalbaug, Mumbai 400 012</h4>
                <h4 ><b>Phone No :</b>&nbsp; 022-24114205</h4>
                <h4 ><b>Email ID :</b>&nbsp; dn8-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5524149347534!2d72.83620441543952!3d18.995364487134225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef0b5a55555%3A0xdb804cd42dcce77e!2sCentral+Excise+Mumbai+Zone-II!5e0!3m2!1sen!2sin!4v1516122279962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division XI</h2>
                <h4 ><b>Address : </b>8th floor, Piramal Chambers, JijiBhoy Lane, Lalbaug, Mumbai 400 012</h4>
                <h4 ><b>Phone No :</b>&nbsp; 022-24103587</h4>
                <h4 ><b>Email ID :</b>&nbsp; dn9-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5524149347534!2d72.83620441543952!3d18.995364487134225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef0b5a55555%3A0xdb804cd42dcce77e!2sCentral+Excise+Mumbai+Zone-II!5e0!3m2!1sen!2sin!4v1516122279962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;text-align: center; ">Division X</h2>
                <h4 ><b>Address : </b>8th floor, Piramal Chambers, JijiBhoy Lane, Lalbaug, Mumbai 400 012</h4>
                <h4 ><b>Phone No :</b>&nbsp;  022–24100194</h4>
                <h4 ><b>Email ID :</b>&nbsp; dn10-gstmcentral@gov.in</h4>
                <div class=" iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5524149347534!2d72.83620441543952!3d18.995364487134225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef0b5a55555%3A0xdb804cd42dcce77e!2sCentral+Excise+Mumbai+Zone-II!5e0!3m2!1sen!2sin!4v1516122279962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                    <!--<table align="center" class="table table-bordered table-responsive table-striped">-->
                    <!--<thead>-->
                    <!--<tr style="background:#0088cc; color: #fff;">-->
                        <!--<th width="8%" class="text-center">Division</th>-->
                        <!--<th width="6%" class="text-center">Range</th>-->
                        <!--<th width="15%" class="text-center">Name of the officer</th>-->
                        <!--<th width="19%" class="text-center">Designation</th>-->
                        <!--<th width="22%" class="text-center">Address</th>-->
                        <!--<th width="14%" class="text-center">Mobile No.</th>-->
                        <!--<th width="16%" class="text-center">Email Id</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody align="center">-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. I</td>-->
                        <!--<td>&nbsp;</td>-->
                        <!--<td>Yadvendra Pratap Sing</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td height="30" rowspan="8" valign="middle"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>7th floor, Piramal Chambers, JijiBhoiy Lane, Lalbag, Mumbai.</p></td>-->
                        <!--<td>9967597107</td>-->
                        <!--<td><a href="#">dn1-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>&nbsp;</td>-->
                        <!--<td>I</td>-->
                        <!--<td>Anil Kumar </td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>&nbsp;</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Anil Kumar </td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9820842455</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Anil Kumar </td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>Deepa M. Bhaskaran </td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9967546699</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Deepa M. Bhaskaran </td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>VI</td>-->
                        <!--<td>Deepa M. Bhaskaran </td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Ajay Gavande</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9869164743</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn.2</td>-->
                        <!--<td></td>-->
                        <!--<td>Jai Prakash Singh</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>Meher Bldg., Bombay Garage, Dadi Seth Lane, Chowpatty, Mumbai - 400 007</p></td>-->
                        <!--<td>8169767073</td>-->
                        <!--<td><a href="#">dn2-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9004561062</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Gautam R. Shelare</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9004561062</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Rajaram V. Chavan</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9819874638</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>Prasad B. Rao</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9769454689</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Jayashree M. Bagaitkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9833527255</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Jayashree M. Bagaitkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9833527255</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 3</td>-->
                        <!--<td></td>-->
                        <!--<td>Shrikant Awachar</td>-->
                        <!--<td>Deputy Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>Meher Bldg., Bombay Garage, Dadi Seth Lane, Chowpatty, Mumbai - 400 007</p></td>-->
                        <!--<td>8879667549</td>-->
                        <!--<td><a href="#">dn3-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>Smt. Manisha Rode</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9702202300</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Smt. Basilia Ferrao</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>8433623569</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Smt. Basilia Ferrao</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>8433623569</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>Smt. Manisha Rode</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9702202300</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Smt. Sapana Makhijani</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9833856574</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Smt. Sapana Makhijani</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9833856574</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 4</td>-->
                        <!--<td></td>-->
                        <!--<td>T.S. Ravi</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>1st floor, Construction House, 5, Wallchand Hirachand Marg, Ballard Pier, Mumbai - 400 001</p></td>-->
                        <!--<td>9820168103</td>-->
                        <!--<td><a href="#">dn4-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>K.W.Thaware</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9870545595</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Milind More</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>8779874335</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>R.B.Ghag</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>R.B.Ghag</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867329502</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Ms. Bindu Gangadharan</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9167569960</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>K.W.Thaware</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9870545595</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 5</td>-->
                        <!--<td></td>-->
                        <!--<td>Shrikant Awachar</td>-->
                        <!--<td>Deputy Commissioner</td>-->
                        <!--<td rowspan="8"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>8th floor, Piramal Chambers, JijiBhoiy Lane, Lalbag, Mumbai.</p></td>-->
                        <!--<td>8879667549</td>-->
                        <!--<td><a href="#">dn5-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>Smt. Usha Moundekar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>7057648459</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Prakash Ghadi</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9969347088</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Smt. Shubhangi Amberkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9869475668</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>T. R. Nair</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9821181114</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Smt. Sujata Morajkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9821394302</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>VI</td>-->
                        <!--<td>Smt. Sujata Morajkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9821394302</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Smt. Shubhangi Amberkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9869475668</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 6</td>-->
                        <!--<td></td>-->
                        <!--<td>Sandeep Gunjal</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>1st floor, Construction House, 5, Wallchand Hirachand Marg, Ballard Pier, Mumbai - 400 001</p></td>-->
                        <!--<td>8767705147</td>-->
                        <!--<td><a href="#">dn6-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>T.N. Subramanian</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867268476</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>T.N. Subramanian</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867268476</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Prabhakar Shetty</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>Jyothi Eshwari</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9819137387</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Jyothi Eshwari</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9819137387</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Prabhakar Shetty</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 7</td>-->
                        <!--<td></td>-->
                        <!--<td>B.G.Amrutsagar</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>8th floor, Piramal Chambers, JijiBhoiy Lane, Lalbag, Mumbai.</p></td>-->
                        <!--<td>9867818172</td>-->
                        <!--<td><a href="#">dn7-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>Shyam Ganpat Khase</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9820623625</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Suryabhan H. Umredkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9594468169</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Smt Bhavani R. Iyer</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867941996</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td> Somesh Kailash Chandra</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9699260560</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Smt Bhavani R. Iyer</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867941996</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Shyam Ganpat Khase</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9820623625</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 8</td>-->
                        <!--<td></td>-->
                        <!--<td>Money Jain</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>8th floor, Piramal Chambers, JijiBhoiy Lane, Lalbag, Mumbai.</p></td>-->
                        <!--<td>9999768559</td>-->
                        <!--<td><a href="#">dn8-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>Kallappa Tarihalkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9969151127</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Smt. Geeta Vijayan Nair</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9869460102</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Smt. Geeta Vijayan Nair</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9869460102</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>Smt. Lakshmi Naganathan</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9819173644</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Smt Lakshmi Naganathan</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9819173644</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Kallappa Tarihalkar</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9969151127</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 9</td>-->
                        <!--<td></td>-->
                        <!--<td>Money Jain</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>&nbsp;</p>-->
                            <!--<p>8th floor, Piramal Chambers, JijiBhoiy Lane, Lalbag, Mumbai.</p></td>-->
                        <!--<td>9999768559</td>-->
                        <!--<td><a href="#">dn8-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>Sharad More</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9224272027</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Shubhangi Patil</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>(9769743873</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Y.H. Patil</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867942148</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>Y.H. Patil</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9867942148</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Shubhangi Patil</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>(9769743873</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>Sharad More</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9224272027</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td style="font-weight:bold;">Dn. 10</td>-->
                        <!--<td></td>-->
                        <!--<td>Anand Gokhale</td>-->
                        <!--<td>Asstt. Commissioner</td>-->
                        <!--<td rowspan="7"><div align="center">-->
                                <!--<p>&nbsp;</p>-->
                                <!--<p>&nbsp;</p>-->
                                <!--<p>&nbsp;</p>-->
                                <!--<p>8th floor, Piramal Chambers, JijiBhoiy Lane, Lalbag, Mumbai.</p>-->
                            <!--</div></td>-->
                        <!--<td>9422680670</td>-->
                        <!--<td><a href="#">dn10-gstmcentral@gov.in</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>I</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>II</td>-->
                        <!--<td>Vinod .D. Kumbhare</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9920164419</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>III</td>-->
                        <!--<td>Smt. Nirmala R. Bhat</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9769120295</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>IV</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>V</td>-->
                        <!--<td>Ankush S. Jadhav</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td>9892825562</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>Dn. Tech</td>-->
                        <!--<td>-&#45;&#45;</td>-->
                        <!--<td>Superintendent</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->

            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>