<% include ../partials/header.ejs %>
<div class="wrapper">
    <div class="main main-raised" style="margin-top: 0px">
        <div class="row">
            <h2 class="text-center">ORGANIZATIONAL STRUCTURE</h2>
            <div class="col-md-offset-2 col-md-6">
                <img class="img-responsive"  src="/images/pages/About us -Organisation structure - 1.jpg" alt="Organisation structure">
            </div>
        </div>
        <div class="space-50"></div>
    </div>

</div>

<% include ../partials/footer.ejs%>