<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/images/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/admin" class="simple-text">
                    CENTRAL MUMBAI GST
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/admin/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/pages">
                        <i class="pe-7s-note2"></i>
                        <p>Pages</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <% if(currentUser){ %>
                                <p><%= currentUser.username %></p>
                                <% } %>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p>Account</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users/logout">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length > 0) { %>
            <div class="alert alert-danger">
                <button type="button" aria-hidden="true" class="close">×</button>
                <span class="center-block"><b> <%= error %> </b></span>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="alert alert-success">
                <button type="button" aria-hidden="true" class="close">×</button>
                <span class="center-block"><b> <%= success %> </b></span>
            </div>
            <% } %>
        </div>
